@import "../../../sharedStyles/core";

.box{
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tab{
  //margin: 20px;
  background: $bg-highlight-color !important;
}

.tabs {
  width: 100%;
}