@import "../../../../sharedStyles/core";

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
}

.formBox {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.formGroup {
  padding-top: 20px;
}

.text {
  text-align: center;
  font-family: Roboto;
}

.textField {
  @extend %textField_base;
  width: 97.5% !important;
}

.smsFormGroup {
  &_hide {
    display: none;
  }
}

.button {
  @extend %base-button;
}

