$padding-horizontal: 20px;
$padding-vertical: 20px;

.teaserBox {
  padding: $padding-vertical 0;
}

.header {
  padding: 0 $padding-horizontal;
  display: flex;
  align-items: center;
}

.headerTitle {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

.headerUsername {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.08em;
}

.userId {
  font-style:italic;
  text-transform: none;
  font-size: 0.8rem;
  color: #c3c3c3;
  font-weight: normal;
  letter-spacing: 0.03rem;
}

.headerDate{
  font-size: 0.8rem;
  text-transform: none;
}

.headerEllipsisBox {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  align-self: flex-start;
}





.contentText {
  font-size: 0.9rem;
  padding: $padding-vertical $padding-horizontal;
}

.imageBox {
  background-color: gray;
  text-align: center;
}

.slider {
//  display: flex;
  border: 1px solid green;
}

.image {
  max-width: 100%;
  height: auto;
}

.footer {
  display: flex;
  align-items: center;
  padding: 0 $padding-horizontal;
}

.footerCategory {
  flex:1;
  text-transform: lowercase;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.footerComment,
.footerLikes {
  display: flex;
  align-items: center;
}

%icons {
  color: #6a6a6a !important;
}


.sliderBtn {
  color: #0000AA;
}

.ellipsisIconBtn {
  @extend %icons;
}

%footerIconBtns {
  @extend %icons;
  font-size: 16px !important;
}

.commentIconBtn {
  @extend %footerIconBtns;
}

.likeIconBtn {
  @extend %footerIconBtns;
}

.likeIconBtn_liked {
  @extend %footerIconBtns;
  color: red !important;
}

.dots {
  color: red;
}

