@import "../../../../sharedStyles/core"
;
.box {
  padding: 20px 0;
}
.formBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  //border: 1px solid blue;

}

.textField {
  @extend %textField_base;
}



.avatarPreviewBox {
  display: flex;
  align-items: center;
  width: 100px;
  height: 100px;
}


.avatarDropBox {
  //border-radius: 50%;
  display: flex;
  border: 1px solid rgb(224,224,224);
  width: auto;
  padding: 5px;

  align-items: center;
}

.avatar {

  margin-left: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid rgb(224,224,224);
  background-size: cover;
  background-position: center;
}


.sexBox {
  display: flex;
}
.radio {
  display: inline-block !important;
  //width: 140px !important;
  &:nth-child(1) {
    margin-right: 20px;
  }
}


.formGroupBox {
  //border: 2px dashed black;
  padding-top: 20px;
}