@import "../../../../sharedStyles/core";
.box {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0px 1rem;
  padding-bottom: 1rem;
}

.textField {
  width: 97.7% !important;
  @extend %textField_base;
}

.button {
  @extend %base-button;
}

.formGroupBox {
  padding-top: 20px;
}