@import "../../sharedStyles/core";

.header {
  background: $bg-highlight-color;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding: 15px;
  //border: 1px solid red;
}

.myCol {
  padding: 0 5px;
}