//@import "normalize";
@import "typography";
@import "colors";

%base-button {
  width: 100% !important;
}

%textField_base {
  //remove chrome autofill yellow color
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
   // looks like crutch
    transition: background-color 1s ease-in-out 99999999999s;
  }
}


body {
  font-family: $base-font-family;
  background: $bg-base-color;
}

