@import "../../sharedStyles/core";

%commentBox {
  display: flex;
  padding: 10px 20px;
}

.commentBox {
  @extend %commentBox;
  &_creating {
    @extend %commentBox;
    background: $bg-base-color;
    pointer-events: none;
  }
}






.contentBox {
  padding-left: 10px;
  flex-grow: 1;
}

.name {
  font-weight: bold;
}

.id {
  font-style: italic;
  font-weight: normal;
  font-size: 13px;
  color: rgb(205, 205, 205);
}

.footer {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.date {
  font-size: 13px;
  color: rgb(205, 205, 205);
}

.answer {
  padding-left: 10px;
  color: #0000AA;
}

.likesBox {
  font-size: 13px;
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  align-items: center;
  align-self: flex-end;
}

%footerIconBtns {
  color: #6a6a6a !important;
  font-size: 12px !important;
}

.likeIconBtn {
  @extend %footerIconBtns;
}

.likeIconBtn_liked {
  @extend %footerIconBtns;
  color: red !important;
}

.likeText {
  //margin-left: -20px;
}