.formBox {
  padding: 20px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
}

.textarea {
  outline: none;
  border: none !important;
  resize: none;
  min-height: 50px;
}

.footer {
  display: flex;
  justify-content: flex-end;
}